.filter-issues-by-assignees-container{
  display: flex;

  .issue-assignee-avatar {
    width: 35px;
    height: 35px; 
    border-radius: 100%;
    border: solid 2px #fff;
    margin-left: -8px;

    &:hover {
      z-index: 2;
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out, z-index 0.2s ease-in-out;
    }  
  
    &:first-child {
      margin-left: 0;
    }

  }
  .issue-assignee-avatar.selected {
    border: 2px solid #007bff;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
}